body {
 color: #c0c5ce;
 background-color: #2b303b;
 font-size: 1.05rem;
 font-family: 'Gentium Book Basic', serif;
}

strong {
    font-weight: bold;
    color: #a0a5ce;
    font-size: 94%;
    font-family: 'Roboto', sans-serif;
}

#body {
 max-width: 60em;
 margin: 0 auto;
 padding: 1.5em;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #3f4553;
    margin: 1em 0;
    padding: 0;
}

a {
  color: #D98C74;
}

a:hover, a:focus {
  color: #D98C74;
  // background-color: rgba(217, 140, 116, 0.15);
}

h1 > a, h1 > a:hover, h1 > a:focus {
    color: #8fa0b4;
    font-size: 4rem;
}

h1 {
    text-align: center;
    margin: 0em auto 1.5em auto;
}
h2 {
    font-size: 2.5rem;
}


h1, h2, h3, h4, h5, h6, h7 {
    font-weight: normal;
    color: #c5c6b4;
}

.time, .time:hover, .time:focus {
  color : #696f7d;
}


.index_time {
  width: 7em;
  text-align: center;
  display: inline-block;
}

li > p {
  margin-bottom: 0px;
}

blockquote {
    padding: .5rem 1rem 0rem 1rem;
    margin-bottom: 0.5rem;
    border-left: .25rem solid rgba(255, 255, 255, 0.1);
}

code {
    font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

    padding: .15rem .2rem;
    font-size: 90%;
    color: #f0c5ce;
    background-color: #3b404b;
    border-radius: .15rem;
}



#commento {
    margin-top: 100px;
}
